.mainCarouseleDiv{
    display:flex;
    overflow:hidden;
    border:1px solid black;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.arrowLeft, .arrowRight{
    background-color: grey;
    width:30px;
}
